body{
    background-color:lightgray;
}

#start{
    box-shadow: 0 7px #999;
    width:20%;
    border-radius:20px;
}

#start:active{
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#footer{
    position:fixed;
    bottom:0;
    text-align:center;
    background-color:rgba(128,128,128,0.8);
    color:white;
    width:100%;
    padding:10px;
    font-family:monospace;
}

h1{
    font-style:small-caps;
    font-weight:bolder;
}

h4{
    color:red;
    font-weight:bold;
}

#camera{
    width:30%;
    height:50%;
    text-align: center;
}

#result1,#result2,#result3{
    border-radius:10px;
    padding:20px;
    box-shadow:0 6px 8px 0 rgba(2,2,2,0.2);
}

.img{
    border-radius:10px;
    box-shadow:0 6px 8px 0 rgba(2,2,2,0.2);
    transition: width 1s, height 1s, border-radius 1s;
}

.img:hover{
    width:25%;
    height:45%;
    border-radius:25px;
}

#head_img{
    border-radius:500px;
    width:20%;
}